<div class="container">
    <div class="row justify-content-around">
        <div class="col" >
            <todo-list [listName]="'To-do'"></todo-list>
        </div>
        <div class="col" >
            <todo-list [listName]="'In-progress'"></todo-list>
        </div>

        <div class="col" >
            <todo-list [listName]="'Completed'"></todo-list>

        </div>
        <div>
            <form-modal>
                
            </form-modal>
        </div>
            
    </div>
</div>