.item-wrapper{
    background-color: #fff;
    padding : 20px;
    
    .item-title{
        text-decoration: solid;
        font-weight: bold;
        margin-bottom: 10px;;
    }
    .item-description{
        
    }
}